<div class="link-wrapper-mobile">
    <a href="https://github.com/krupkat"><i class="fa fa-github fa-lg"></i> GitHub</a>
    <span style="margin-left: 5px;"></span>
    <a href="https://www.linkedin.com/in/tom%C3%A1%C5%A1-krupka-5a15b0101/"><i class="fa fa-linkedin-square fa-lg"></i> LinkedIn</a>
    <span style="margin-left: 5px;"></span>
    <a href="https://matrix.to/#/@krupkat:matrix.org"><i class="fa fa-matrix-org fa-lg" aria-hidden="true"></i> Matrix</a>
    <span style="margin-left: 5px;"></span>
    <a href="https://youtube.com/channel/UCEKNrF3xA2TG4b3NXrq-KFw"><i class="fa fa-youtube-play fa-lg"></i> YouTube</a>
</div>