<div class="link-wrapper">
    <style scoped>
      ul.link a {
        color:var(--clr-h1-and-bold);
        text-decoration:none;
      }

      ul.link a:hover, a:focus {
        color: var(--clr-a-text-hvr);
      }
    </style>
    <ul class="link">
      <li><a href="https://github.com/krupkat"><i class="fa fa-github fa-lg fa-fw" aria-hidden="true"></i>GitHub</a></li>
      <li><a href="https://www.linkedin.com/in/tom%C3%A1%C5%A1-krupka-5a15b0101/"><i class="fa fa-linkedin-square fa-lg fa-fw" aria-hidden="true"></i>LinkedIn</a></li>
      <li><a href="https://matrix.to/#/@krupkat:matrix.org"><i class="fa fa-matrix-org fa-lg fa-fw" aria-hidden="true"></i>Matrix</a></li>
      <li><a href="https://youtube.com/channel/UCEKNrF3xA2TG4b3NXrq-KFw"><i class="fa fa-youtube-play fa-lg fa-fw" aria-hidden="true"></i>YouTube</a></li>
    </ul>
  </div>